
body{
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  background-position: auto;


}


p{
  font-size: 25px;

  }
li{
  list-style: none;
  margin-right: 25px;

}

#primero{
  font-size: 30px
}



.menu{
display: flex;
justify-content: space-between;
align-items: center;
}

.lista{
  display: flex;
}

.titular{
text-align: center;
margin-top: 100px;

}

h1{
  font-size: 60px;
  margin: 0;
}

h2{
  font-size: 25px;
  margin-bottom: 40px;
}

a{
  font-size: 14px;
  background: #5cb8ff;
  padding: 20px 30px 20px 30px;
  color: white;
  text-decoration: none;

}
  header{
    background: url(fondo.jpg);
    height: 100vh;
  background-size: cover;
background-position: center;
}



.contenedor{

max-width: 1280px;
width: 90%;
margin: auto;

}

.nosotros{
  position: relative;
  top : 300px
}
@media  (max-width:480px){

header{
  height: 50vh;

}

}
